.screen {
    width: 100%;
    height: 100px;
    background-color: #232323bb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;

    &__auxiliary {
        height: 35px;
        font-size: 2.5rem;
        padding: .5rem .8rem 0 0;
        color: $white--light;
    }

    &__main {
        height: 65px;
        background-color: transparent;
        border: none;
        padding: 0 1.5rem;
        font-size: 3.5rem;
        color: $white;
    }
}